/* Styles go here */

#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

i.icon {
  margin: 0;
}

.input-group{
	margin-top: 20px;
}

.navbar-brand{
		float: left;
}

.navbar-brand img{
	width: 30px;

}

h2{
	display: inline-block;
	margin-right: 20px;
}

.dropdown{
	display: inline-block;
}

.list{
	display: block;
}